<nav class="d-flex justify-content-around bg-primary">
  <ul class="nav d-inline-flex">
    <% if (typeof user !== 'undefined') { %>
      <li class="nav-item">
        <a class="nav-link text-white" href="/posts">See Post History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/posts/new">Add a Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/logout">Log Out</a>
      </li>
      
    <% } else { %>
      <li class="nav-item">
        <a class="nav-link text-white" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In</a>
      </li>
    <% } %>
  </ul>
</nav>

     
  
  <style>
    .nav-item a:hover {
        color: #fff;
        text-decoration: none;
        background-color: #000;
    }
  </style>